.multi-select

    border: 1px solid #ced4da
    border-radius: 0.25rem
    width: 100%
    height: auto
    min-height: 38px
    font-size: 0.8rem
    background-color: #ffffff
    text-align: left
    padding: 2px 10px
    position: relative

    .multi-select-option-selected
        display: inline-block
        background-color: #d9d9d9
        padding: 3px 25px 3px 10px
        margin: 5px 10px 5px 0
        border-radius: 0.25rem
        position: relative
        //cursor: pointer

        &:hover
            background-color: #c2c2c2
            i
                color: #5a5959
                cursor: pointer

        i
            position: absolute
            right: 7px
            top: 0
            bottom: 0
            margin: auto
            line-height: 1.8
            font-size: 0.9rem
            color: #b6b3b3

    .choice
        position: absolute
        right: 5px
        top: 0
        bottom: 0
        margin: auto
        padding-left: 10px
        padding-right: 10px
        cursor: pointer

        &:hover
            i
                color: #636363
        i
            color: #8f8f8f
            line-height: 1.8
            font-size: 1.3rem

    .multi-select-helper
        position: absolute
        z-index: 10
        left: 0
        width: 100%
        height: auto
        max-height: 300px
        top: 100%
        background: #fff
        border: 1px solid #d5d5d5
        overflow-y: auto


        .multi-select-option
            padding: 8px 20px
            border-bottom: 1px solid #ececec
            cursor: pointer




